.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 14px;
  @media (min-width: 768px) {
    padding: 20px 0;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.logotype {
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.logotype-img {
  margin-left: 4px;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mobile-menu {
  border: none;
  background-color: transparent;
}
.menu {
  display: none;
}
.social-list {
  display: none;
}

@media screen and (min-width: 768px) {
  
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
    gap: 20px;
  }
  .social-list {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  .social-item {
    height: 42px;
    padding: 8px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 18px;
    line-height: 129%;
  }
  .menu {
    gap: 24px;
  }
  .menu-item:hover,
  .menu-item:hover {
    color: var(--accentColor);
  }
  .social-item:hover,
  .social-item:focus {
    border-color: var(--borderHoverColor);
  }
  .social-item:hover .social-icon {
    fill: var(--accentColor);
  }
}

.active-link {
  color: var(--accentColor);
}

.language-switcher {
  display: flex;
  gap: 10px;
}

.lang-btn {
  padding: 15px;
  border: 1px solid var(--accentColor);
  border-radius: 100px;

  background-color: transparent;
  font-weight: 600;

  &:hover,
  &:focus {
    background-color: var(--accentColor);
    color: var(--secondaryTextColor);
  }
}