.orange {
  background-color: var(--accentColor);
  color: var(--secondaryTextColor);
}
.wight {
  border: 1px solid var(--accentColor);
}
.violet {
  background-color: var(--secondaryBgColor);
  color: var(--secondaryTextColor);
}

.ingridients-title {
  width: 100%;
  max-width: 486px;
  margin-right: auto;
  margin-left: auto;
}
.ingridients-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.ingridients-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px;
  border-radius: 15px;
}

.ingridients-text {
  margin-top: 16px;

  font-weight: 600;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  @media (min-width: 768px) {
    margin-top: 36px;
  }
}
