.products-list {
  display: grid;
  gap: 32px;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 32px;
  border: 1px solid var(--borderColor);
  border-radius: 15px;

  background-color: var(--wightCardColor);
}
.products-subtitle {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--mainTextColor);
}
.products-text {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--productsTextColor);
}
.products-price {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;

  background-color: var(--mainBgColor);
  font-weight: 600;
}
