.review-list {
  display: grid;
  gap: 62px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 344px));
  margin-top: 62px;
  justify-content: center;
}
.review-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 56px 18px 42px 18px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
.review-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translate(-60%);
}
.review-item h3 {
  font-size: 18px;
  line-height: 133%;
  text-align: center;
}
.review-item p {
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
