.about {
  padding-top: 100px;
}
.about-list {
  display: grid;
  gap: 32px;
  justify-items: center;
}
.about-item {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    &:nth-child(1) {
      flex-direction: row-reverse;
    }
    &:nth-child(2) {
      flex-direction: row;
    }
  }
}
.about-item-thumb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 30px 35px;
  border-radius: 15px;

  background-color: var(--second-bg-color);
  @media (min-width:1024px) {
    padding: 60px 75px;
  }
}
.about-title {
  font-weight: 200;
  font-size: clamp(1.5rem, 3.438vw + 0.655rem, 3.75rem);
  line-height: clamp(1.8rem, 4.126vw + 0.787rem, 4.5rem);
}
.about-text {
  font-size: clamp(0.75rem, 0.382vw + 0.656rem, 1rem);
  line-height: clamp(1.125rem, 0.573vw + 0.984rem, 1.5rem);
  color: var(--text-color);
}
